
<!-- 以下のコードを削除してください -->

<!-- ここまで削除 -->

<div class="main posts-index">
  <div class="container">
    <!-- 変数postsを@postsに書き換えてください -->

    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <%= link_to(post.content,"/posts/#{post.id}") %>
      </div>
    <% end %>
  </div>
</div>
